* {
  padding: 0;
  margin: 0;
  outline: 0;
}

body {
  font-family: "Cardo", serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Raleway", sans-serif;
}

html {
  scroll-behavior: smooth;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

.raisul {
  clear: both;
}

/* header part css code start  */
#banner {
  background: url(../Images/ActiveBox-banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.banner-oly {
  background-color: rgba(0, 0, 0, 0.089);
  padding-top: 20px;
  padding-bottom: 80px;
  padding-left: 0;
  padding-right: 0;
}

.navbar-collapse .navbar-nav .nav-item {
  padding: 0 20px;
}

.navbar-collapse .navbar-nav .nav-item .nav-link {
  color: #d7d8db;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
}

.banner-con {
  text-align: center;
  margin-top: 190px;
}

.banner-con h1 {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 65px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.banner-con P {
  color: white;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 22px;
  margin-bottom: 80px;
}

.banner-con a {
  color: white;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 15px;
  text-transform: uppercase;
  background-color: #e84545;
  padding: 10px 15px;
}
/* header part css code end */

/* service part css start  */

#service {
  padding: 50px 0;
}

.ser-con {
  margin: 50px 0;
  text-align: center;
}

.ser-con h6 {
  margin-top: 25px;
  margin-bottom: 20px;
  color: #2d3033;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
}

.ser-con p {
  color: #6c7279;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 14px;
}
/* service part css end */

/* gallary part css code start  */

.gly-img {
  position: relative;
}

.gly-oly {
  background-color: #e8454559;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  text-align: center;
  transform: scale(0);
  transition: all linear 0.3s;
}

.gly-oly h6 {
  margin-top: 35%;
  color: white;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
}

.gly-oly p {
  color: white;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.gly-img:hover .gly-oly {
  transform: scale(1);
  transition: all linear 0.3s;
}

/* gallary part css code end */
